@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --color-primary: 4, 159, 161;
    --color-secondary: 179, 243, 245;
    --color-text: 66, 65, 65;
    --color-bg: 219, 219, 221;
  }

  * {
    @apply transition-colors duration-500 ease-in-out;
  }
}

.light {
  --color-primary: 4, 159, 161;
  --color-secondary: 179, 243, 245;
  --color-text: 66, 65, 65;
  --color-bg: 219, 219, 221;
}

.dark {
  --color-primary: 4, 159, 161;
  --color-secondary: 179, 243, 245;
  --color-text: 219, 219, 221;
  --color-bg: 66, 65, 65;
}
